<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>
    <!-- <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="logImpl" value="log4j"/>
    </settings> -->
    
    <!-- 进行mybatis 配置 -->
    <typeAliases>
        <!-- 为类型 起了别名 -->
        <typeAlias type="com.z.entity.SysUser" alias="SysUser"/>
        <typeAlias type="com.z.entity.SysRole" alias="SysRole"/>
        <typeAlias type="com.z.entity.SysPermissions" alias="SysPermissions"/>
        <typeAlias type="com.z.entity.common.Pager" alias="Pager"/>
        <typeAlias type="com.z.entity.common.ShiroUser" alias="ShiroUser"/>
        <typeAlias type="com.z.entity.SysUser" alias="SysUser"/>
        <typeAlias type="com.z.entity.SysUser" alias="SysUser"/>
    </typeAliases>

</configuration> 